@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Define variables */
:root {
  
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}
