@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for all demo pages */
* {
    /* This is a universal selector that applies to all elements */
    /* setting padding and margin to 0 removes the default spacing around elements */
    margin: 0;
    padding: 0;
}
body {
    /* background-color: purple; */
    /* font-family: 'Times New Roman'; */
    /* font-family: Arial; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: cursive; /* defaults to Comic Sans */
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 3em; /* 48px, 300%, 3em are the same */
    line-height: 1.1; /* only visible when text wraps on multiple lines */
    /* color: navy; */
    /* background-color: #c25858; */
    /* border-color: fuchsia; */
    /* border-width: 0.5em; */
    /* border-style: solid; */
    /* border: fuchsia 0.5em solid; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

#main-menu ul {
    text-align: center;
    /* text-align: right; */
}
/* These styles are applied only to hyperlinks in the main-menu */
/* This is a decendent selector - the a tag is a decendent (a child) of the main-menu */
#main-menu a {
    text-decoration: none;
}
#main-menu a:hover {
    text-decoration: underline;
}
#chapter4-demo img {
    float: right; /* repositions the image in relationship to the sibling paragraph */
    margin-left: 20px; /* Use left margin when floating right, use right margin when floating left */
}
#chapter4-demo p {
    /* font-style: italic; */
    /* font-style: normal; */

    /* 100 is light, 900 is bold, not every font supports them all  */
    /* font-weight: 700; */
    /* font-weight: bold; */
    /* font-weight: lighter; */

    font-size: 20px;
    /* 1.25 em refers to 16px * 1.25 */
    font-size: 1.25em;
    font-size: 125%;

    /* space between lines of a paragraph */
    line-height: 140%;
    line-height: 1.4em;
    line-height: 1.4;
    /* space at the start of a paragraph */
    text-indent: 40px;
    /* space between paragraphs */
    margin-bottom: 40px;

    text-align: justify; /* only use this if you are floating images inside a paragraph, like a newspaper or magazine. */
}
/* This style applies only to the second paragraph */
#chapter4-demo p:nth-child(7) {
    color: red;
    /* Add a clear a property to a sibling element that has a float property set. */
    clear: right;
}

/* direct child selector */
#chapter4-demo > p {
    font-variant: small-caps;
}

/* Adjacent sibling selector */
/* selects a paragraph right after an h2 */
#chapter4-demo h2 + p {
    font-weight: bold;
    color: red;
}
/* General sibling selector */
/* Style all paragraphs following an h2 at the same sibling level */
#chapter4-demo h2 ~ p {
    font-family: cursive; /* Comic Sans */
}
