/*********************************************************
* Description: Main style sheet
* Author:      Anne Boehm
*********************************************************/

/* Adjust the styles for the body */
body {
    font-family: sans-serif;
    padding: 1em;
    max-width: 600px;
}

/* Adjust the styles for the headings */
h1 {    
    font-size: 180%;
    color: #0033cc;
}
h2 {
    font-size: 140%;
    border-bottom: 3px solid #0033cc;  /* Add bottom border */
}

/* Adjust the styles for the unordered list */
ul {
    list-style-type: square;            /* Change bullets to squares */
}