input, select, button {
	font-size: inherit;
    padding: .2em;
    margin-bottom: .5em;
    border-radius: 5px;
}
label {
    display: block;
}
input, select {
    width: 100%;
}
button {    
    cursor: pointer;
    width: 8em;
    padding: .5em;
    margin-top: 1em;
    font-weight: bold;
    color: white;
    background-color: var(--dark);
    &:hover {    
        color: black;
        background-color: var(--light);
    }    
}
input:required {
    border: 2px solid red;
}
input:valid {
    border: 2px solid green;
}